---
interface Props {
	name: string;
  optional: boolean;
}

const { name, optional } = Astro.props;  // Default value is 200 if offset is not provided
---

{optional ? (
  <span class="text-primary-light">[{name}?]</span>
) : (
  <span class="text-primary-light">[{name}]</span>
)}
