---
interface Props {
  name: string;
  active: boolean;
}

const { name, active } = Astro.props;
const activeClass = "bg-primary-dark text-white";
const inactiveClass = "text-primary-dark hover:text-primary-light hover:bg-primary-dark";
---

<li>
  <a
    href="#"
    class={`group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold ${active ? activeClass : inactiveClass}`}
    x-state:on="Current"
    x-state:off="Default"
    x-state-description='Current: "bg-primary-dark text-white", Default: "text-primary-dark hover:text-primary-light hover:bg-primary-dark"'
  >
    <slot />
    {name}
  </a>
</li>
