---
interface Props {
  name: string;
  letter: string;
  active: boolean;
  component: string;
}

const { name, letter, active, component } = Astro.props;
const activeClass = "bg-primary-dark text-white";
const inactiveClass = "text-primary-dark hover:text-primary-light hover:bg-primary-dark";
---

<li>
  <a
    href="#"
    @click.prevent=`$dispatch('menu-click', '${component}')`
    class={`group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold ${active ? activeClass : inactiveClass}`}
  >
    <span
      class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-primary-light bg-primary-dark text-[0.625rem] font-medium text-white"
    >{letter}</span>
    <span class="truncate">{name}</span>
  </a>
</li>
