---

interface Props {
  sections: {
    name: string;
    steps: { 
      name: string;
      prompt: string;
      input_attributes: { name: string; isArray: boolean; isRequired: boolean }[];
      output_attributes: { name: string }[]
    }[];
  }[];
}

const { sections } = Astro.props;
// console.log(sections);
---
<!-- 
{sections.map((section) => (
  <div class="mt-8" key={section.name}>
    <Section section={section} />
  </div>
))} -->
